<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dangnhap.css">
    <title>Document</title>
</head>
<body>
    <div class="login">
    	<div th:text="${message}"></div>
        <img src="/img/pngtree-beautiful-admin-roles-glyph-vector-icon-png-image_5267597.jpg" class="avatar">
            <h1>Login</h1>
            <form th:action="@{/khachhang/login}" method="post" th:object="${khachhang}">
                <p>Username</p>
                <input type="text" name="username" placeholder="Enter Username">
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password">
                <input type="submit" name="" value="Login">
                <a href="">Lost your password?</a><br>
                <a href="">Don't have an account?</a>
            </form>
         
        </div>
</body>
</html>