<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/trangchu.css">
    <link rel="stylesheet" href="./fontawesome-free-5.12.1-web/css/all.css">
    <title>Document</title>
</head>
<body>
    <div class="header-main">
         <div class="nav-dark">
             <div class="flex-left">
                <img src="img/logo-the-thao(10).jpg" width="60px" height="60px" alt=""><br>
                <span>T&T</span>
             </div>
             <div class="flex-right">
                <nav>
                    <ul>
                        <li class="timkiem"><input type="text" placeholder="Tìm Kiếm"><button><i class="fas fa-search"></i></button></li>
                        <li class="trangchu"><a th:href="@{/}">Trang Chủ</a></li>
                        <li class="sanpham"><a th:href="@{/}">Sản Phẩm</a></li>
                        <li class="sale"><a href="">Sale Off</a></li>
                        <li class="lienhe"><a href="">Liên Hệ</a></li>
                    </ul>
                </nav>
             </div>
             <div class="giohang">
                 <div th:if="${session.khachhang != null}" th:text="${session.khachhang.hoten}"></div>
                  <div th:if="${session.khachhang == null}"><button><a th:href="@{/khachhang/login}">Đăng nhập</a></button> </div>
                 <button><a href="">Giỏ Hàng</a><i class="fas fa-shopping-cart"></i></button>    
             </div>
         </div>
    </div>
    <div class="container">
        <div class="img-inner">
            <img name = "image"  src="/img/1.jpg" width="100%" height="600px" alt="">
            <div class="vong " style="display: flex; margin-bottom: 100px;">
                <div  id="vong1" style="width: 10px; height: 10px; border: 2px solid white; border-radius: 50%; margin-right: 10px; background-color: white;"></div>
                <div  id="vong2" style="width: 10px; height: 10px; border: 2px solid white; border-radius: 50%; margin-right: 10px;"></div>
                <div  id="vong3" style="width: 10px; height: 10px; border: 2px solid white; border-radius: 50%; margin-right: 10px;"></div>
                <div id="vong4" style="width: 10px; height: 10px; border: 2px solid white; border-radius: 50%;"></div>
           </div>
        </div>
        <div class="list-new">
            <div class="dong"></div>
            <span>Danh Mục Sản Phẩm</span>
            <div class="dong"></div>
        </div>
        <div class="list-dm">
            <div class="dm-cha">
           <span>DanhMucCha</span>
           <div class="dm-con">
               <li><a href="">Tên DM Con</a></li>
               <li><a href="">Tên DM Con</a></li>
               <li><a href="">Tên DM Con</a></li>
           </div>
         </div>
         <div class="dm-cha">
            <span>DanhMucCha</span>
            <div class="dm-con">
                <li><a href="">Tên DM Con</a></li>
                <li><a href="">Tên DM Con</a></li>
                <li><a href="">Tên DM Con</a></li>
            </div>
          </div>
          <div class="dm-cha">
            <span>DanhMucCha</span>
            <div class="dm-con">
                <li><a href="">Tên DM Con</a></li>
                <li><a href="">Tên DM Con</a></li>
                <li><a href="">Tên DM Con</a></li>
            </div>
          </div>
           
        </div>
        <div class="list-new">
            <div class="dong"></div>
            <span>Sản Phẩm Bán Chạy</span>
            <div class="dong"></div>
        </div>
        <div class="list-new-sp">
            <nav>
                <ul >
                    <li th:each="sp:${listSP}">
                        <img class="sp" th:src="@{/img/{id}(id=${sp.photo})}" width="300px" height="300px" alt="">
                        <div class="chitiet">
                            <span > <a href="">Chi Tiết</a></span>
                        </div>
                        
                        <span class="loaisp">Loại Sản Phẩm</span>
                        <p class="tensp" th:utext="${sp.tensp}"></p>
                        <p class="gia" th:utext="${sp.gia}"></p>
                        <button><a th:href="@{/{masp}(masp = ${sp.masp})}">Xem chi tiết</a> </button>
                    </li>
                </ul>
            </nav>
        </div>
        
    </div>
    <div class="footer">
        <div class="block_widget_1">
            
            <h1 class="tenshop">T&T Shop</h1>
            <div class="ke"></div>
            <img src="/img/logo-the-thao(10).jpg" width="400px" height="100px" alt="">
            <p>Hotline: 0979701794</p>
            <p>Địa chỉ: 97 Man Thiện, Phường Hiệp Phú, TP. Thủ Đức, TP.HCM</p>
            <p>Giờ Hoạt Động: 8h00 đến 20h00</p>
            <div class="icon">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-twitter"></i>
                <i class="fas fa-envelope"></i>
            </div>
           
        </div>
        <div class="flatsome_recent_posts">
            <h1>Tin Tức T&T</h1>
            <div class="ke"></div>
            <p>Thông Tin Chăm Sóc Khách Hàng</p>
            <p>Xu Hướng Thể Thao Hiện Nay</p>
        </div>
        <div class="block_widget_2">
            <h1>Follow ngay T&T</h1>
            <div class="ke"></div>
            <p>Nhận Thông Tin Mới Nhất Từ T&T</p>
            <input type="text" placeholder="Email của bạn!!!"> <br>
            <button>Đăng Kí</button>
        </div>

    </div>
    <div class="absolute">
        <h1>T&T</h1>
        <p>Copyright 2021 © DANGTAI</p>
    </div>


    <script type="text/javascript">
        window.onload = function(){
          setTimeout("switch_Image()", 3000);
        }
        var current = 1;
        var num_image = 4;
        function switch_Image(){
            current++;
            document.images['image'].src ='img/' + current + '.jpg';
            if(current==1)
            {      
                 document.getElementById("vong" + current).style.background = 'white';
                 for(var i = 2; i <= num_image ; i ++){
                    document.getElementById("vong" + i).style.background = '';
                 }
                 
            }
            document.getElementById("vong" +( current - 1 )).style.background = '';
            document.getElementById("vong" + current).style.background = 'white';
           if(current < num_image){
             setTimeout("switch_Image()", 2000);
           }else if(current == num_image){ 
             setTimeout("switch_Image()", 2000);
             current = 0;
           }
       }
      </script>
</body>
</html>