body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header-main{
    width: 100%;
    z-index: 30;
    position: relative;
    background-size: cover;
    background-color: rgb(12, 122, 122);
}
.header-main .nav-dark {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.header-main .nav-dark .flex-left{
    float: left;
    margin-left: 150px;
    margin-top: 5px;
}
.header-main .nav-dark .flex-right{
    margin-top: 20px;
}
.header-main .nav-dark .flex-right ul{
    display: flex;
}
.header-main .nav-dark .flex-right ul li{
    margin-right: 20px;
}
.header-main .nav-dark .flex-right ul li a{
    font-size: 20px;
    color: white;
    font-weight: bold;
    
}
.header-main .nav-dark .flex-right ul .timkiem{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.header-main .nav-dark .flex-right ul .timkiem .fas {
    color: #000;
}
.header-main .nav-dark .flex-right ul .timkiem button {
    border-radius: 5px;
}
.header-main .nav-dark .flex-right ul .timkiem input{
    border-radius: 1px;
}
.header-main .nav-dark .flex-right ul li i{
    font-size: 16px;
    color: rgba(250, 235, 215, 0.644);
    
}
.header-main .nav-dark .giohang{
    float: right;
    margin-right: 150px;
    margin-top: 35px;
}
.header-main .nav-dark .flex-left img{
    border: 1px solid black;
    border-radius: 50%;
}
.header-main .nav-dark .flex-left span{
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: monospace;
}
.header-main .nav-dark .giohang button{
   padding: 7px;
   background: #3d770d;
   border-radius: 5px;
   color: white;
   font-weight: bold;
   font-size: 14px;
}
.header-main .nav-dark .giohang button a{
    padding: 7px;
    background: #3d770d;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
 }
 .container {
     margin-left: 50px;
     margin-right: 50px;
     margin-top: 20px;
 }
 .img-inner {
     position: relative;
 }
 .img-inner .vong{
     left: 50%;
     top: 95%;
     position: absolute;
 }
 .list-new {
     margin-top: 10px;
     justify-content: center;
     display: flex;
     margin-bottom: 10px;
     color: #555;
 }
 .list-new .dong {
     margin-top: 15px;
     width: 500px;
     height: 2px;
     background: rgb(114, 111, 111);
     text-align: center;
 }
 .list-new span {
     margin-left: 5px;
     margin-right: 5px;
     font-size: 24px;
     font-weight: bold;
 }
 .list-new-sp{
     margin-top: 10px;
     flex-wrap: wrap;
 }
 .list-new-sp ul {
     display: flex;
     flex-wrap: wrap;
 }
 .list-new-sp nav ul li {
     margin-bottom: 100px;
     width: 300px;
     position: relative;
     margin-left: 20px;
     border: 1px solid tan;
     text-align: center;
     box-shadow: 5px 5px tan;
 }
.list-new-sp nav ul li img{
    transition-duration: 0.3s;
    opacity: 0.8;
    margin-bottom: 15px;
}
.list-new-sp nav ul li:hover img {
    flex-wrap: wrap;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.02);
}
 .list-new-sp nav ul li .chitiet{
     width: 300px;
     height: 40px;
     padding-top: 5px;
     background: #0087b7;
     top: 63%;
     left: 0;
     position: absolute;
     color: white;
     font-size: 24px; 
     opacity: 0;
     transition-duration: 0.3s;
 }
 .list-new-sp nav ul li .chitiet a {
     color: white;
 }
 .list-new-sp nav ul li:hover .chitiet{
    -webkit-transform: scale(1.2);
    transform: scale(1.02);
    opacity: 1;
 }
 .list-new-sp nav ul li .loaisp{
     color: rosybrown;
     font-size: 18px;
 } 
 .list-new-sp nav ul li .tensp{
    color: red;
    font-size: 22px;
    margin-top: -2px;
 }
 .list-new-sp nav ul li .gia {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-top: -5px;
 }
 .footer {
     background-color: #0087b7;
     justify-content: space-between;
     display: flex;
     color: cornsilk;
     border-top: 1px solid black;
 }
 .footer .block_widget_1{
     margin-left: 30px;
 }
 .footer .block_widget_1 img {
     border-radius: 50%;
 }
 .footer .block_widget_1 p {
     font-size: 18px;
     font-weight: bold;
 }
 .footer .block_widget_1 .icon {
     margin-bottom: 20px;
     font-size: 20px;
 }
 .footer .block_widget_1 .icon i {
     margin-left: 5px;
 }
 .footer .ke{
     width: 100px;
     height: 2px;
     background: burlywood;
     margin-top: -20px;
     margin-bottom: 20px;
 }
 .footer .flatsome_recent_posts p{
    font-size: 18px;
     font-weight: bold;
 }
 .footer .block_widget_2 {
     margin-right: 30px;
 }
 .footer .block_widget_2 p {
    font-size: 18px;
    font-weight: bold;
 }
 .footer .block_widget_2 input {
     width: 300px;
     height: 25px;
     border-radius: 10px;
     background: rgba(255, 235, 205, 0.534);
     color: white;
     margin-bottom: 10px;
 }
 .footer .block_widget_2 button {
     width: 100px;
     height: 30px;
     border-radius: 10px;
     background: #00635b;
 }
 .absolute{
     background: rgb(43, 42, 42);
     text-align: center;
     margin-top: -30px;
     color:gainsboro;
 }
 .absolute h1 {
     font-size: 18px;
 }
 .absolute p {
     font-size: 12px;
     margin-bottom: 5px;
     margin-top: -10px;
 }
 .list-dm {
     margin-left: 100px;
 }
 .list-dm .dm-cha{
     margin-bottom: 10px;
 }
 .list-dm .dm-con{
     margin-left: 200px;
     display: none;
    
 }
 .list-dm .dm-con li a{
     color: rgb(121, 113, 68);
     font-size: 17px;
 }
 .list-dm span{
     font-size: 20px;
     font-weight: bold;
     padding: 5px;
     border-bottom: 1px solid red;
    
 }
 .list-dm .dm-cha:hover .dm-con {
     display: block;

 }

 
 
